{% extends 'base.html.twig' %}

{% block title %}Editar Veterinário{% endblock %}

{% block body %}
    {{ parent() }}

    <div  class="d-flex flex-column background">
        <div class="d-flex  justify-content-start m-3">
            <h1 class="title fs-3"><i class="fa-solid fa-plus"></i>
                Editar Veterinario
            </h1>
        </div>
        <div class="m-3">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{ include('/Veterinarian/_form.html.twig')}}
        </div>
    </div>

{% endblock %}